<nav class="navbar">
    <ul class="menu">
      <li>
        <a href="#">Catálogo</a>
        <ul class="submenu">
          <li><a href="#">Tipos de Movimiento</a></li>
          <li><a href="#">Almacenes</a></li>
          <li><a href="#">Clientes</a></li>
          <li><a href="#">Proveedores</a></li>
          <li><a href="#">Productos</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Movimientos</a>
        <ul class="submenu">
          <li><a href="#">Compras</a></li>
          <li><a href="#">Entradas y Salidas</a></li>
          <li><a href="#">Traspasos</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Remisiones</a>
        <ul class="submenu">
          <li><a href="#">Remisiones</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Reportes</a>
        <ul class="submenu">
          <li><a href="#">Reporte1</a></li>
          <li><a href="#">Reporte2</a></li>
          <li><a href="#">Reporte3</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  