{% extends 'base.html' %}
{% load form_tags %}
{% load bootstrap_filters %}
{% load humanize %}
{% block content %}
<div class="container mt-4">
    <style>
        input[readonly] {
            background-color: #f0f0f0;  /* Gris muy claro */
            pointer-events: none;       /* Evita que intente editarlo */
            border-color: #ccc;         /* Borde más tenue */
        }
    </style>
    <h4>{% if form.instance.pk %}Consultar{% else %}Nueva{% endif %} Factura</h4>
    <form id="factura-form" method="post">
        {% csrf_token %}
        {{ formset.management_form }}  

        <div class="card mb-3">
            <div class="card-header">Encabezado</div>
            <div class="row g-2">
                <div class="col-md-2 mb-2">
                    <label class="form-label small">Clave Remision</label>
                    {{ form.clave_remision|add_bootstrap_class }}
                </div>
                <div class="col-md-2 mb-2">
                     <label class="form-label small">Remisión</label>
                    {{ form.numero_remision|add_bootstrap_class }}
                </div>
                <div class="col-md-2 mb-2">
                    <label class="form-label small">Fecha</label>
                    {{ form.fecha_emision|add_bootstrap_class }}
                </div>
                <div class="col-md-2 mb-2">
                    <label class="form-label small">Factura</label>
                    {{ form.numero_factura|add_bootstrap_class }}
                </div>
                <div class="col-md-4 mb-2">
                    <label class="form-label small">Cliente</label>
                    {{ form.cliente|add_bootstrap_class }}
                </div>
                <div class="col-md-3 mb-2">
                    <label class="form-label small">Método de Pago</label>
                    {{ form.metodo_pago|add_bootstrap_class }}
                </div>
                <div class="col-md-3 mb-2">
                    <label class="form-label small">Forma de Pago</label>
                    {{ form.forma_pago|add_bootstrap_class }}
                </div>
                <div class="col-md-3 mb-2">
                    <label class="form-label small">Uso CFDI</label>
                    {{ form.uso_cfdi|add_bootstrap_class }}
                </div>
                <div class="col-md-3 mb-2">
                    <label class="form-label small">Status</label>
                    {{ form.estatus|add_bootstrap_class }}
                </div>
            </div>
        </div>
        <div class="row g-2 mt-1">
            <div class="col-md-2 mb-2">
                <label class="form-label small">Usuario</label>
                <input type="text" class="form-control form-control-sm" value="{{ request.user.username }}" readonly disabled>
                <input type="hidden" name="usuario" value="{{ request.user.id }}">
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Subtotal</label>
                <input type="text" id="subtotal" class="form-control form-control-sm text-end bg-light" readonly disabled>
                <input type="hidden" name="subtotal" id="subtotal_hidden">
            </div>  <!--  |floatformat:2|intcomma -->
            <div class="col-md-2 mb-2">
                <label class="form-label small">IVA</label>
                <input type="text" id="impuestos_trasladados" class="form-control form-control-sm text-end bg-light" readonly disabled>
                <input type="hidden" name="impuestos_trasladados" id="impuestos_trasladados_hidden">
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small text-end">Retención</label>
                <input type="text" id="impuestos_retenidos" class="form-control form-control-sm text-end bg-light" readonly disabled>
                <input type="hidden" name="impuestos_retenidos" id="impuestos_retenidos_hidden">
            </div> 
            <div class="col-md-2 mb-2">
                <label class="form-label small">Total General</label>
                <input type="text" id="total" class="form-control form-control-sm text-end bg-light" readonly disabled>
                <input type="hidden" name="total" id="total_hidden">
            </div>
            <input type="hidden" name="moneda" id="moneda" value="{{ form.moneda.value|default:'' }}">
            <input type="hidden" name="tipo_comprobante" id="moneda" value="{{ form.tipo_comprobante.value|default:'' }}">
            <input type="hidden" name="exportacion" id="moneda" value="{{ form.exportacion.value|default:'' }}">
            <input type="hidden" name="condiciones_pago" id="moneda" value="{{ form.condiciones_pago.value|default:'' }}">
        </div>
        
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span>Detalle</span>
                <button type="button" class="btn btn-sm btn-primary" id="add-linea">+ Agregar línea</button>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-bordered table-sm">
                    <thead class="table-light">
                        <tr>
                            <th>Producto</th>
                            <th>Clave Sat</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Descuento</th>
                            <th>Subtotal</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    
                    <tbody id="formset-body">
                        {% for form in formset %}
                            <tr class="formset-form">
                                {{ form.id }}
                                <td>{{ form.producto }}</td>
                                <td>{{ form.clave_prod_serv }}</td>
                                <td>{{ form.cantidad }}</td>
                                <td>{{ form.valor_unitario }}</td>
                                <td>{{ form.descuento }}</td>
                                <td>{{ form.importe }}</td>
                                <td>{{ form.DELETE }}</td>
                                <!-- Campos ocultos -->
                                <td style="display: none;">
                                    {{ form.tasa_iva.as_hidden }}
                                    {{ form.iva_producto.as_hidden }}
                                    {{ form.tasa_ieps.as_hidden }}
                                    {{ form.ieps_producto.as_hidden }}
                                    {{ form.tasa_retencion_iva.as_hidden }}
                                    {{ form.tasa_retencion_isr.as_hidden }}
                                    {{ form.retencion_iva.as_hidden }}
                                    {{ form.retencion_isr.as_hidden }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <template id="empty-form-template">
                    <tr class="formset-form">
                        {{ formset.empty_form.id }}
                        <td>{{ formset.empty_form.producto }}</td>
                        <td>{{ formset.empty_form.clave_prod_serv }}</td>
                        <td>{{ formset.empty_form.cantidad }}</td>
                        <td>{{ formset.empty_form.valor_unitario }}</td>
                        <td>{{ formset.empty_form.descuento }}</td>
                        <td>{{ formset.empty_form.importe }}</td>
                        <td>{{ formset.empty_form.DELETE }}</td>
                        <!-- Campos ocultos -->
                        <td style="display: none;">
                            {{ formset.empty_form.tasa_iva.as_hidden }}
                            {{ formset.empty_form.iva_producto.as_hidden }}
                            {{ formset.empty_form.tasa_ieps.as_hidden }}
                            {{ formset.empty_form.ieps_producto.as_hidden }}
                            {{ formset.empty_form.tasa_retencion_iva.as_hidden }}
                            {{ formset.empty_form.tasa_retencion_isr.as_hidden }}
                            {{ formset.empty_form.retencion_iva.as_hidden }}
                            {{ formset.empty_form.retencion_isr.as_hidden }}
                        </td> 
                    </tr>
                </template>
                
            </div>
        </div>

        <div class="mt-3 text-end">
            <button type="submit" class="btn btn-success">Guardar Factura</button>
            <a href="{% url 'fac:factura_list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const addBtn = document.getElementById('add-linea');
    const formsetBody = document.getElementById('formset-body');
    const totalFormsInput = document.getElementById('id_detalles-TOTAL_FORMS');
    const totalGeneral = document.getElementById('total'); 
    const claveMovimientoInput = document.getElementById('id_clave_remision');
    const numero_remisionInput = document.getElementById('id_numero_remision');
    const fecha_emisionInput = document.getElementById('id_fecha_emision');
    const numero_facturaInput = document.getElementById('id_numero_factura');
    
    if (fecha_emisionInput) {
        fecha_emisionInput.focus();
    }
    // busca el ultimo numero de factura

    function obtenerNumeroFactura() {
        fetch(`/fac/ajax/numero-factura/`)
            .then(response => response.json())
            .then(data => {
                numero_facturaInput.value = data.numero_factura;
            })
            .catch(error => console.error('Error al obtener número de factura:', error));
    }

    // 1. Ejecutar automáticamente al cargar la página
    
    if (numero_facturaInput) {
        obtenerNumeroFactura();
    }

    // 2. También ejecutar si el usuario cambia la fecha
    if (numero_facturaInput && fecha_emisionInput) {
        fecha_emisionInput.addEventListener('change', obtenerNumeroFactura);
    }

    // valida si clave_remision y remision existe
    // Si existe, muestra los datos en modo edicion para generar la nueva fatura
    // Si no existe, muestra mensaje de error y regresa al campo numero_remision
    //  numero_remisionInput = document.getElementById('id_numero_remision');
    const claveMovInput = document.getElementById('id_clave_remision');

    async function verificarFactura(numero_factura) {
        const response = await fetch(`/fac/verificar-factura/?numero_factura=${numero_factura}`);
        const data = await response.json();
        if (data.existe) {
            // alert('Este movimiento ya existe. Se mostrará en modo edición.');
            // Aquí podrías redirigir automáticamente, o cargar los datos con AJAX
            window.location.href = `/fac/factura/editar/${data.id}/`;
        }
    }

    if (numero_remisionInput && claveMovInput) {
        numero_remisionInput.addEventListener('blur', function () {
            let ref = numero_remisionInput.value.trim();
            if (ref) {
                ref = ref.padStart(7, '0');  // llena la referencia con ceros a la izquierda
                numero_remisionInput.value = ref;
                
                const claveMovId = claveMovInput.value;
                if (claveMovId) {
                    verificarRemision(claveMovId, ref);
                }
            }
        });
        numero_remisionInput.addEventListener('keydown', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();  // Previene el envío del formulario

                let ref = numero_remisionInput.value.trim();
                if (ref) {
                    ref = ref.padStart(7, '0');
                    numero_remisionInput.value = ref;

                    const claveMovId = claveMovInput.value;
                    if (claveMovId) {
                        verificarRemision(claveMovId, ref);
                    }

                    // Disparar manualmente el evento blur
                    numero_remisionInput.dispatchEvent(new Event('blur'));
                }

            }
        });
    }
    
    // termina verificar si existe movimiento  
    
    // boton agregar linea
    addBtn.addEventListener('click', function () {
        const totalForms = parseInt(totalFormsInput.value);
        const template = document.querySelector('#empty-form-template');

        if (!template) return;

        const newRow = template.content.cloneNode(true);  // clona el contenido del template

        // Reemplaza "__prefix__" por el nuevo número
        newRow.querySelectorAll('*').forEach(function (el) {
            if (el.name) el.name = el.name.replace(/__prefix__/, totalForms);
            if (el.id) el.id = el.id.replace(/__prefix__/, totalForms);
            if (el.getAttribute('for')) el.setAttribute('for', el.getAttribute('for').replace(/__prefix__/, totalForms));

            // Limpia valores si es input
            if (el.tagName === 'INPUT' || el.tagName === 'SELECT') {
                if (el.type === 'checkbox') {
                    el.checked = false;
                } else {
                    el.value = '';
                }
            }
        });

        formsetBody.appendChild(newRow);

        totalFormsInput.value = totalForms + 1;
        actualizarTotal();
    });
    
    // BLUR DE CLIENTE
    const facturaForm = document.querySelector('#factura-form'); // o el selector que uses

    if (facturaForm) {
        facturaForm.addEventListener('change', async function (e) {
            const target = e.target;
            // Ahora atrapamos el select principal de cliente:
            if (target.name === 'cliente') {
                const clienteId = target.value;
                if (/^\d+$/.test(clienteId)) {
                    //  Obtener si cliente tiene retencion_iva, retencion_isr
                    //  Tambien obtiene la tasa_iva_empresa, tasa_ieps_empresa, 
                    //                     tasa_retencion_iva_empresa, tasa_retencion_ieps_empresa

                    const tasaResp = await fetch(`/fac/obtener_tasa_empresa/?cliente_id=${clienteId}`);
                    if (!tasaResp.ok) throw new Error('Error al obtener datos del Cliente y Empresa');
                    const data = await tasaResp.json();
                    // Usar como variables globales 
                    
                    window.tasasEmpresa = {
                        tasa_iva: parseFloat(data.tasa_iva_empresa),
                        tasa_ieps: parseFloat(data.tasa_ieps_empresa),
                        tasa_retencion_iva: parseFloat(data.tasa_retencion_iva_empresa),
                        tasa_retencion_isr: parseFloat(data.tasa_retencion_isr_empresa)
                    };
                } 
                
            }
        })
    }

    // al generarse el evento CHANGE del campo PRODUCTO, se asigna el valor
    // del precio1 al campo precio y se calcula la existencia del producto
    if (formsetBody) {
        formsetBody.addEventListener('change', async function (e) {
            if (e.target && e.target.name.includes('-producto')) {
                const productoInput = e.target;
                const row = productoInput.closest('tr');  
                const productoId = productoInput.value;
                if (!productoId) {
                    productoInput.focus();
                }
                if (productoId) {
                    try {
                        // 1. Obtener precio 
                        const precioResp = await fetch(`/inv/obtener_precio_producto/?producto_id=${productoId}`);
                        if (!precioResp.ok) throw new Error('Error al obtener precio');
                        const data = await precioResp.json();
                        
                        const precio      = parseFloat(data.precio1);      // convierte a numerico
                        const aplica_iva  = parseFloat(data.aplica_iva);   // convierte a numerico 1 o 0
                        const aplica_ieps = parseFloat(data.aplica_ieps);  // convierte a numerico 1 o 0
                        
                        // pasa clave_prod_serv al campo en el formulario
                        const clave_prod_servInput = row.querySelector("input[name$='-clave_prod_serv']");
                        if (clave_prod_servInput) {
                            clave_prod_servInput.value = data.clave_prod_serv;
                        }
                        const valor_unitarioInput = row.querySelector("input[name$='-valor_unitario']");
                        if (valor_unitarioInput) {
                            valor_unitarioInput.value = precio.toFixed(2);
                        }

                        const tasa_ivaInput  = row.querySelector("input[name$='-tasa_iva']");
                        const tasa_iepsInput = row.querySelector("input[name$='-tasa_ieps']");
                        const tasa_retencion_ivaInput = row.querySelector("input[name$='-tasa_retencion_iva']");
                        const tasa_retencion_isrInput = row.querySelector("input[name$='-tasa_retencion_isr']");

                        const tasaIva_producto  = (window.tasasEmpresa.tasa_iva / 100) * aplica_iva;
                        const tasaIeps_producto = (window.tasasEmpresa.tasa_ieps / 100) * aplica_ieps;
                        const tasa_retencion_iva = (window.tasasEmpresa.tasa_retencion_iva / 100);
                        const tasa_retencion_isr = (window.tasasEmpresa.tasa_retencion_isr / 100);

                        // pasa los valores a los campos del formulario 
                        if (tasa_ivaInput) {
                            tasa_ivaInput.value = tasaIva_producto.toFixed(2);   // convierte a string
                        }
                        if (tasa_iepsInput) {
                            tasa_iepsInput.value = tasaIeps_producto.toFixed(2);
                        }
                        if (tasa_retencion_ivaInput) {
                            tasa_retencion_ivaInput.value = tasa_retencion_iva.toFixed(2);
                        }
                        if (tasa_retencion_isrInput) {
                            tasa_retencion_isrInput.value = tasa_retencion_isr.toFixed(2);
                        }
                        console.log("En Blur Producto, tasa_retencion_iva:", tasa_retencion_iva);
                        console.log("En Blur Producto, tasa_retencion_isr:", tasa_retencion_isr);
                        actualizarTotal();                                             
                    } catch (err) {
                        console.error('Error al obtener datos del producto:', err);
                        }
                } // if productoId
            }
        }, true);
    };
    
    // fin de change producto

    // Recalcular subtotal automáticamente al input de: cantidad | valor_unitario | descuento
    document.addEventListener('input', function (e) {
        if (e.target.name.includes('cantidad') || e.target.name.includes('valor_unitario') || e.target.name.includes('descuento')) {
            const row = e.target.closest('tr');
            const cantidad   = parseFloat(row.querySelector('input[name$="-cantidad"]')?.value || 0);
            const precio     = parseFloat(row.querySelector('input[name$="-valor_unitario"]')?.value || 0);
            const descuento  = parseFloat(row.querySelector('input[name$="-descuento"]')?.value || 0);
            const tasa_iva   = parseFloat(row.querySelector('input[name$="-tasa_iva"]')?.value || 0);
            const tasa_ieps  = parseFloat(row.querySelector('input[name$="-tasa_ieps"]')?.value || 0);
            const tasa_retencion_iva = parseFloat(row.querySelector('input[name$="-tasa_retencion_iva"]')?.value || 0);
            const tasa_retencion_isr = parseFloat(row.querySelector('input[name$="-tasa_retencion_isr"]')?.value || 0);

            const importeField = row.querySelector('input[name$="-importe"]');

            const importe = (cantidad * precio) - descuento;
            if (importeField) importeField.value = importe.toFixed(2);
            console.log("tasa_retencion_iva en calcular subtotales:", tasa_retencion_iva);
            console.log("tasa_retencion_isr en calcular subtotales:", tasa_retencion_isr);

            // calcula iva del producto:
            const iva = importe * tasa_iva; // esta tasa_iva se grabo en el formset en el BLUR de PRODUCTO
            const ieps = importe * tasa_ieps;
            const retencion_iva = iva * tasa_retencion_iva;
            const retencion_isr = importe * tasa_retencion_isr;

            // pasar valores al formulario
            row.querySelector('input[name$="-iva_producto"]').value   = iva.toFixed(2);
            row.querySelector('input[name$="-ieps_producto"]').value   = ieps.toFixed(2);
            row.querySelector('input[name$="-retencion_iva"]').value   = retencion_iva.toFixed(2);
            row.querySelector('input[name$="-retencion_isr"]').value   = retencion_isr.toFixed(2);
                        
            actualizarTotal(); // ← actualiza el total en cada cambio
        }

        if (e.target.name.includes('DELETE')) {
            actualizarTotal(); // 👈 si marcan eliminar también recalcular
        }
    });

    function actualizarTotal() {
        let subtotal = 0;
        let iva_total = 0;
        let ieps_total = 0;
        let retencion_iva_total = 0;
        let retencion_isr_total = 0;

        formsetBody.querySelectorAll('tr').forEach(row => {
            const importeInput = row.querySelector('input[name$="-importe"]');
            const delBox  = row.querySelector('input[type="checkbox"][name$="DELETE"]');

            if (!importeInput || (delBox && delBox.checked)) return;

            const importe = parseFloat(importeInput.value) || 0;
            subtotal += importe;


            // tasa_iva y tasa_ieps se grabo en change de producto
            const ivaRate   = parseFloat(row.querySelector('input[name$="-tasa_iva"]')?.value) || 0;
            const iepsRate  = parseFloat(row.querySelector('input[name$="-tasa_ieps"]')?.value) || 0;

            const iva  = importe * ivaRate;
            const ieps = importe * iepsRate;

            iva_total  += iva;
            ieps_total += ieps;
            const retencionIvaRate   = parseFloat(row.querySelector('input[name$="-tasa_retencion_iva"]')?.value) || 0;
            const retencionIsrRate   = parseFloat(row.querySelector('input[name$="-tasa_retencion_isr"]')?.value) || 0;

            const retencionIvaInput = row.querySelector('input[name$="-retencion_iva"]');
            const retencionIsrInput = row.querySelector('input[name$="-retencion_isr"]');

            const retIva = iva * retencionIvaRate;
            const retIsr = importe * retencionIsrRate;

            retencion_iva_total += retIva;
            retencion_isr_total += retIsr;

            // Asignar de nuevo a la fila (si existieran)
            if (retencionIvaInput) retencionIvaInput.value = retIva.toFixed(2);
            if (retencionIsrInput) retencionIsrInput.value = retIsr.toFixed(2);

        });
        const trasladados = iva_total + ieps_total;
        const retenidos = retencion_iva_total + retencion_isr_total;
        const total     = subtotal + trasladados - retenidos;
        console.log("En actualizar_total, retencion_iva_total:",retencion_iva_total);
        console.log("retencion_isr_total:",retencion_isr_total);
        console.log("retenidos:",retenidos);
        console.log("iva_total:",iva_total);
        console.log("ieps_total:",ieps_total);


        // Mostrar en campos visibles
        document.getElementById('subtotal').value = subtotal.toFixed(2);
        document.getElementById('impuestos_trasladados').value = trasladados.toFixed(2);
        document.getElementById('impuestos_retenidos').value = retenidos.toFixed(2);
        document.getElementById('total').value = total.toFixed(2);

        // Asignar a campos ocultos
        document.getElementById('subtotal_hidden').value = subtotal.toFixed(2);
        document.getElementById('impuestos_trasladados_hidden').value = trasladados.toFixed(2);
        document.getElementById('impuestos_retenidos_hidden').value = retenidos.toFixed(2);
        document.getElementById('total_hidden').value = total.toFixed(2);


    };
    actualizarTotal(); 
});    
    
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js?ver=1.0"></script>

{% endblock %}
