{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0">Listado de Compras</h4>
        <a href="{% url 'inv:compra_create' %}" class="btn btn-primary btn-sm">
            Nueva Compra
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered align-middle">
            <thead class="table-light small">
                <tr>
                    <th>Almacen</th>
                    <th>Clave </th>
                    <th>Referencia</th>
                    <th>Fecha</th>
                    <th>Proveedor</th>
                    <th>Fecha_Vencimiento</th>
                    <th>Importe</th>
                    <th>Usuario</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody class="small">
                {% for compra in compras %}
                    <tr>
                        <td>{{ compra.almacen }}</td>
                        <td>{{ compra.clave_movimiento.clave_movimiento }}</td>
                        <td>{{ compra.referencia }}</td>
                        <td>{{ compra.fecha_compra|date:"d/m/Y" }}</td>
                        <td>{{ compra.proveedor.nombre }}</td>
                        <td>{{ compra.fecha_vencimiento|date:"d/m/Y" }}</td>
                        <td>{{ compra.monto_total }}</td>
                        <td>{{ compra.usuario }}</td>
                        <td class="text-center">
                            <a href="{% url 'inv:compra_detail' compra.pk %}" class="btn btn-sm btn-outline-info">Ver</a>
                            <a href="{% url 'inv:compra_update' compra.pk %}" class="btn btn-sm btn-outline-warning">Editar</a>
                            <a href="{% url 'inv:compra_delete' compra.pk %}" class="btn btn-sm btn-outline-danger">Eliminar</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="text-center text-muted">No hay compras registradas.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <div class="d-flex justify-content-between mt-4">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary btn-sm">Página Anterior</a>
        {% else %}
            <span></span>
        {% endif %}
    
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary btn-sm">Siguiente Página</a>
        {% endif %}
    </div>
    
</div>
{% endblock %}
