{% extends 'base.html' %}
{% load form_tags %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-4">
    <style>
        input[readonly] {
            background-color: #f0f0f0;  /* Gris muy claro */
            pointer-events: none;       /* Evita que intente editarlo */
            border-color: #ccc;         /* Borde más tenue */
        }
    </style>
    <h4>{% if form.instance.pk %}Editar{% else %}Nueva{% endif %} Cotización</h4>
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}  

        <div class="card mb-3">
            <div class="card-header">Encabezado</div>
            <div class="row g-2">
                <div class="col-md-3 mb-2">
                    <label class="form-label small">Fecha</label>
                    {{ form.fecha_cotizacion|add_bootstrap_class }}
                </div>
                <div class="col-md-3 mb-2">
                    <label class="form-label small">Número Cotización</label>
                    {{ form.numero_cotizacion|add_bootstrap_class }}
                </div>
                <div class="col-md-3 mb-2">
                    <label class="form-label small">Vendedor</label>
                    {{ form.vendedor|add_bootstrap_class }}
                </div>
                <div class="col-md-3 mb-2">
                    <label class="form-label small">Cliente</label>
                    {{ form.cliente|add_bootstrap_class }}
                </div>
                <div class="col-md-6 mb-2">
                    <label class="form-label small">Comentarios</label>
                    {{ form.comentarios|add_class:"form-control"|attr:"rows:3" }}

                </div>

            </div>
        </div>

        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span>Detalle</span>
                <button type="button" class="btn btn-sm btn-primary" id="add-linea">+ Agregar línea</button>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-bordered table-sm">
                    <thead class="table-light">
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio Unit</th>
                            <th>Subtotal</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    
                    <tbody id="formset-body">
                        {% for form in formset %}
                            <tr class="formset-form">
                                {{ form.id }}
                                <td>{{ form.producto }}</td>
                                <td>{{ form.cantidad }}</td>
                                <td>{{ form.precio }}</td>
                                <td>{{ form.subtotal }}</td>
                                <td>{{ form.DELETE }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-end fw-bold">Total:</td>
                        <td>
                            <input type="text" id="total-general" class="form-control form-control-sm text-end" readonly>
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </div>
        </div>

        <div class="mt-3 text-end">
            <button type="submit" class="btn btn-success">Guardar Cotización</button>
            <a href="{% url 'inv:cotizacion_list' %}" class="btn btn-secondary">Regresar</a>
        </div>
    </form>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const addBtn = document.getElementById('add-linea');
    const formsetBody = document.getElementById('formset-body');
    const totalFormsInput = document.getElementById('id_detalles-TOTAL_FORMS');
    const totalGeneral = document.getElementById('total-general'); 
    const numeroCotizacionInput = document.getElementById('id_numero_cotizacion');
    const fechaCotizacionInput = document.getElementById('id_fecha_cotizacion');

    if (fechaCotizacionInput) {
        fechaCotizacionInput.focus();
    }

        // busca el ultimo numero de cotizacion
        // cuando sea if not form.instance.pk calcular numero_cotizacion
        if (numeroCotizacionInput) {
        numeroCotizacionInput.addEventListener('focus', function () {   
            console.log("En cotizacion, antes de numero-cotizacion")
            fetch(`/inv/ajax/numero-cotizacion/`, {
                credentials: 'include'})
                .then(response => response.json())
                .then(data => {
                    numeroCotizacionInput.value = data.numero_cotizacion;
                });
            
        });
    }

    // valida si Numero de Cotizacion existe
    // Si existe, se muestra en modo edicion
    // Si no existe, continua con el proceso normal de Registro Nuevo
    
    async function verificarCotizacion(numero_cotizacion) {
        const response = await fetch(`/inv/verificar-cotizacion/?numero_cotizacion=${numero_cotizacion}`, {
                    credentials: 'include'});
        const data = await response.json();
        if (data.existe) {
            // alert('Esta cotizacion ya existe. Se mostrará en modo edición.');
            window.location.href = `/inv/cotizacion/editar/${data.id}/`;
        }
    }

    if (numeroCotizacionInput) {
        numeroCotizacionInput.addEventListener('blur', function () {
            let ref = numeroCotizacionInput.value.trim();
            if (ref) {
                ref = ref.padStart(7, '0');  // llena la referencia con ceros a la izquierda
                numeroCotizacionInput.value = ref;
                
                verificarCotizacion(ref);
            }
        });
        numeroCotizacionInput.addEventListener('keydown', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();  // Previene el envío del formulario

                let ref = numeroCotizacionInput.value.trim();
                if (ref) {
                    ref = ref.padStart(7, '0');
                    numeroCotizacionInput.value = ref;

                    verificarCotizacion(ref);
                }
            }
        });
    }
    
    // termina verificar si existe cotizacion   
    
    addBtn.addEventListener('click', function () {
        const totalForms = parseInt(totalFormsInput.value);
        const template = formsetBody.querySelector('.formset-form');

        if (!template) return;

        // Clonamos la fila
        const newRow = template.cloneNode(true);

        // Actualizamos los atributos name, id, for
        newRow.querySelectorAll('input, select, textarea, label').forEach(function (el) {
            if (el.name) {
                el.name = el.name.replace(/detalles-(\d+)-/, `detalles-${totalForms}-`);
            }
            if (el.id) {
                el.id = el.id.replace(/detalles-(\d+)-/, `detalles-${totalForms}-`);
            }
            if (el.htmlFor) {
                el.htmlFor = el.htmlFor.replace(/detalles-(\d+)-/, `detalles-${totalForms}-`);
            }
            if (el.type !== 'hidden') {
                el.value = '';
            }
            
        });

        formsetBody.appendChild(newRow);
        totalFormsInput.value = totalForms + 1;
        actualizarTotal(); // ← actualiza total cuando agregas

    });
    
    // al generarse el evento BLUR del campo producto,
    //  se busca el precio , el cual se asigna al campo precio
    
    if (formsetBody) {
        formsetBody.addEventListener('blur', async function (e) {
            if (e.target && e.target.name.includes('-producto')) {
                const productoInput = e.target;
                const row = productoInput.closest('tr');  
                const productoId = productoInput.value;

                // Ajusta estas líneas según cómo tengas definidos fecha y almacen en tu formulario

                if (productoId) {
                    try {
                        // 1. Obtener costo de reposición
                        const costoResp = await fetch(`/inv/obtener_precio_producto/?producto_id=${productoId}`, {
                            credentials: 'include'});
                        if (!costoResp.ok) throw new Error('Error al obtener precio');
                        const costoData = await costoResp.json();
                        const precioInput = row.querySelector("input[name$='-precio']");
                        if (precioInput) {
                            precioInput.value = costoData.precio1;
                        }

                    } catch (err) {
                        console.error('Error al obtener datos del producto:', err);
                    }
                }
            }
        }, true);
    }
    
    // fin de blur producto

    // Recalcular subtotal automáticamente
    document.addEventListener('input', function (e) {
        if (e.target.name.includes('cantidad') || e.target.name.includes('costo_unit')) {
            const row = e.target.closest('tr');
            const cantidad = parseFloat(row.querySelector('input[name$="cantidad"]')?.value || 0);
            const precio_unit = parseFloat(row.querySelector('input[name$="precio"]')?.value || 0);
            const subtotal = (cantidad * precio_unit);
            const subtotalField = row.querySelector('input[name$="subtotal"]');
            if (subtotalField) subtotalField.value = subtotal.toFixed(2);
            actualizarTotal(); // ← actualiza el total en cada cambio
        }

        if (e.target.name.includes('DELETE')) {
            actualizarTotal(); // 👈 si marcan eliminar también recalcular
        }
    });

    function actualizarTotal() {
        let total = 0;
        formsetBody.querySelectorAll('tr').forEach(function (row) {
            const subtotalField = row.querySelector('input[name$="subtotal"]');
            const deleteCheckbox = row.querySelector('input[type="checkbox"][name$="DELETE"]');
            
            // Solo sumar si no está marcado para eliminar
            if (subtotalField && (!deleteCheckbox || !deleteCheckbox.checked)) {
                const subtotal = parseFloat(subtotalField.value) || 0;
                total += subtotal;
            }
        });
        if (totalGeneral) {
            totalGeneral.value = total.toFixed(2);  // <-- aquí usa `.value` porque es un input en el html
        }

    }

    actualizarTotal(); // ojo
});
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js?ver=1.0"></script>

{% endblock %}

