sku = models.CharField(max_length=12, default='',blank=False)
categoria = models.ForeignKey(Categoria,on_delete=models.RESTRICT)
subcategoria = models.IntegerField(null=False, default=0)
nombre = models.CharField(max_length=200,blank=False)
descripcion = models.TextField(null=True,blank=True)
precio1 = models.DecimalField(max_digits=9,decimal_places=2)
precio2 = models.DecimalField(max_digits=9,decimal_places=2)
precio3 = models.DecimalField(max_digits=9,decimal_places=2)
precio4 = models.DecimalField(max_digits=9,decimal_places=2)
precio5 = models.DecimalField(max_digits=9,decimal_places=2)
precio6 = models.DecimalField(max_digits=9,decimal_places=2)
maximo  = models.IntegerField(default=0) 
minimo  = models.IntegerField(default=0) 
reorden = models.IntegerField(default=0) 
fecha_registro = models.DateField()
imagen = models.ImageField(upload_to='productos',blank=True)
proveedor = models.ForeignKey(Proveedor,on_delete=models.RESTRICT)
unidad_de_medida = models.ForeignKey(UnidadMedida,on_delete=models.RESTRICT)
descuento_venta = models.DecimalField(default=0, decimal_places=2, max_digits=10)
costo_reposicion = models.DecimalField(default=0, decimal_places=2, max_digits=10)
iva = models.DecimalField(max_digits=10,decimal_places=4)  # Tasa de IVA
