<!-- COPIA ANTES DE QUITAR CAMPOS DE DIRECCION FISCAL 
     LOS CAMPOS FISCALES SON LOS DE EXPEDICION -->
{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block content %}
<div class="container mt-4">
    <h2>Información General de la Empresa</h2>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row g-2">
            <div class="col-md-4 mb-2">
                <label class="form-label small">Nombre Comercial</label>
                {{ form.nombre_comercial|add_bootstrap_class }}
            </div>
            <div class="col-md-5 mb-2">
                <label class="form-label small">Nombre Fiscal</label>
                {{ form.nombre_fiscal|add_bootstrap_class }}
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Régimen de Capital</label>
                {{ form.regimen_de_sociedad|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">RFC</label>
                {{ form.rfc|add_bootstrap_class }}
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Regimen Fiscal</label>
                {{ form.regimen_fiscal|add_bootstrap_class }}
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Representante</label>
                {{ form.representante|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Teléfono</label>
                {{ form.telefono|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Email</label>
                {{ form.email|add_bootstrap_class }}
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Calle</label>
                {{ form.calle|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Numero Exterior</label>
                {{ form.numero_exterior|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Numero Interior</label>
                {{ form.numero_interior|add_bootstrap_class }}
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Colonia</label>
                {{ form.colonia|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Código Postal</label>
                {{ form.codigo_postal|add_bootstrap_class }}
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Localidad</label>
                {{ form.localidad|add_bootstrap_class }}
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Municipio</label>
                {{ form.municipio|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Estado</label>
                {{ form.estado|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Pais</label>
                {{ form.pais|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Página Web</label>
                {{ form.pagina_web|add_bootstrap_class }}
            </div>

        </div>
        <div class="row g-2">
            <div class="col-md-2 mb-2">
                <label class="form-label small">Almacen Actual</label>
                {{ form.almacen_actual|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Clave de Compras</label>
                {{ form.clave_compras|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Clave de Traspasos</label>
                {{ form.clave_traspasos|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Clave Remision</label>
                {{ form.clave_remision|add_bootstrap_class }}
            </div>
        </div>
        <div class="row g-2">
            <div class="col-md-2 mb-2">
                <label class="form-label small">Tasa de IVA en Facturas</label>
                {{ form.tasa_iva|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Tasa Retención de IVA</label>
                {{ form.tasa_retencion_iva|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Tasa Retención ISR</label>
                {{ form.tasa_retencion_isr|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Tasa IEPS</label>
                {{ form.tasa_ieps|add_bootstrap_class }}
            </div>
        </div>
        
        <div class="mt-4">
            <button type="submit" class="btn btn-success">Guardar Datos</button>
            <a href="{% url 'inv:empresa_list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
