{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Lugar Expedición para Facturas</h2>

    </div>

    {% if empresas %}
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Nombre Comercial</th>
                    <th>Codigo_Postal</th>
                    <th>Ciudad</th>
                    <th>Municipio</th>
                    <th>Estado</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                
                {% for e in empresas %}
                <tr>
                    <td>{{ e.nombre_comercial }}</td>
                    <td>{{ e.codigo_postal_expedicion }}</td>
                    <td>{{ e.localidad_expedicion}}</td>
                    <td>{{ e.municipio_expedicion }}</td>
                    <td>{{ e.estado_expedicion }}</td>
                    <td>
                        <a href="{% url 'inv:empresa_lugarexp_update' e.pk %}" class="btn btn-sm btn-warning">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">No hay empresas.</div>
    {% endif %}
</div>
{% endblock %}
