{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h4 class="mb-4">Detalle del Movimiento</h4>

    <table class="table table-bordered table-sm">
        <tr>
            <th class="small">Referencia</th>
            <td class="small">{{ object.referencia }}</td>
        </tr>
        <tr>
            <th class="small">Tipo de Movimiento</th>
            <td class="small">{{ object.clave_movimiento.descripcion }}</td>
        </tr>
        <tr>
            <th class="small">Entrada/Salida</th>
            <td class="small">{{ object.move_s }}</td>
        </tr>
        <tr>
            <th class="small">Fecha</th>
            <td class="small">{{ object.fecha_movimiento }}</td>
        </tr>
        <tr>
            <th class="small">Almacén</th>
            <td class="small">{{ object.almacen.nombre }}</td>
        </tr>
        <tr>
            <th class="small">Usuario</th>
            <td class="small">{{ object.usuario.username }}</td>
        </tr>
    </table>

    <a href="{% url 'inv:movimiento_list' %}" class="btn btn-secondary btn-sm">Regresar</a>
</div>
{% endblock %}
