{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Productos</h2>
        <div class="d-flex gap-2">
            <form method="get" class="d-flex">
                <input type="text" name="q" value="{{ query }}" class="form-control form-control-sm me-2" placeholder="Buscar producto...">
                <button type="submit" class="btn btn-sm btn-outline-primary">Buscar</button>
            </form>
            <a href="{% url 'inv:producto_create' %}" class="btn btn-primary">Nuevo Producto</a>
        </div>
    </div>

    {% if productos %}
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Código</th>
                    <th>Precio1</th>
                    <th>Precio2</th>
                    <th>  </th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td>{{ producto.sku }}</td>
                    <td>{{ producto.precio1 }}</td>
                    <td>{{ producto.precio2 }}</td>
                    <td>
                        <a href="{% url 'inv:producto_update' producto.pk %}" class="btn btn-sm btn-warning">Editar</a>
                        <a href="{% url 'inv:producto_delete' producto.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">No hay productos registrados.</div>
    {% endif %}
</div>
{% endblock %}
