{% extends 'base.html' %}
{% load form_tags %}

{% block content %}
<div class="container mt-4">
    <style>
        input[readonly] {
            background-color: #f0f0f0;  /* Gris muy claro */
            pointer-events: none;       /* Evita que intente editarlo */
            border-color: #ccc;         /* Borde más tenue */
        }
    </style>
    <h4>{% if form.instance.pk %}Editar{% else %}Nueva{% endif %} Remision</h4>
    <form id="remision-form"method="post">
        {% csrf_token %}
        {{ formset.management_form }}  

        <div class="card mb-3">
            <div class="card-header">Encabezado</div>
            <div class="row g-2">
                <div class="col-md-1 mb-2">
                    <label class="form-label small">Almacén</label>
                    {{ form.almacen|add_bootstrap_class }}
                </div>
                <div class="col-md-2 mb-2">
                    <label class="form-label small">Clave Remisión</label>
                    {{ form.clave_movimiento|add_bootstrap_class }}
                </div>
                <div class="col-md-1 mb-2">
                    <label class="form-label small">Remisión</label>
                    {{ form.numero_remision|add_bootstrap_class }}
                </div>
                <div class="col-md-2 mb-2">
                    <label class="form-label small">Fecha Remision</label>
                    {{ form.fecha_remision|add_bootstrap_class }}
                </div>
                <div class="col-md-4 mb-2">
                    <label class="form-label small">Cliente</label>
                    {{ form.cliente|add_bootstrap_class }}
                </div>
                <div class="col-md-2 mb-2">
                    <label class="form-label small">Vendedor</label>
                    {{ form.vendedor|add_bootstrap_class }}
                </div>

            </div>
        </div>
        <div class="row g-2 mt-1">
            <div class="col-md-3 mb-2">
                <label class="form-label small">Factura</label>
                <input type="text" class="form-control form-control-sm" value="{{ form.instance.numero_factura }}" readonly disabled>
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Status</label>
                <input type="text" class="form-control form-control-sm" 
                    value="{% if form.instance.status == 'R' %}R - REMISIÓN
                            {% elif form.instance.status == 'F' %}F - FACTURADO
                            {% elif form.instance.status == 'P' %}P - PEDIDO
                            {% else %}{{ form.instance.status }}{% endif %}" readonly disabled>

            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Usuario</label>
                <input type="text" class="form-control form-control-sm" value="{{ form.instance.usuario }}" readonly disabled>
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Total General</label>
                <input type="text" id="total-general" class="form-control form-control-sm text-end" readonly disabled>
            </div>

        </div>
        
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span>Detalle</span>
                <button type="button" class="btn btn-sm btn-primary" id="add-linea">+ Agregar línea</button>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-bordered table-sm">
                    <thead class="table-light">
                        <tr>
                            <th>Producto</th>
                            <th>Existencia</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Descuento</th>
                            <th>Subtotal</th>
                            <th>Eliminar</th>
                            <th>O</th>
                        </tr>
                    </thead>
                    
                    <tbody id="formset-body">
                        {% for form in formset %}
                            <tr class="formset-form">
                                {{ form.id }}
                                <td>{{ form.producto }}</td>
                                <td>
                                    <input type="text" class="form-control form-control-sm existencia" readonly disabled>
                                </td>
                                <td>{{ form.cantidad }}</td>
                                <td>{{ form.precio }}</td>
                                <td>{{ form.descuento }}</td>
                                <td>{{ form.subtotal }}</td>
                                <td>{{ form.DELETE }}</td>
                                <td style="display: none;">
                                    {{ form.tasa_iva.as_hidden }}
                                    {{ form.iva_producto.as_hidden }}
                                    {{ form.tasa_ieps.as_hidden }}
                                    {{ form.ieps_producto.as_hidden }}
                                    {{ form.tasa_retencion_iva.as_hidden }}
                                    {{ form.tasa_retencion_isr.as_hidden }}
                                    {{ form.retencion_iva.as_hidden }}
                                    {{ form.retencion_isr.as_hidden }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <template id="empty-form-template">
                    <tr class="formset-form">
                        {{ formset.empty_form.id }}
                        <td>{{ formset.empty_form.producto }}</td>
                        <td>
                            <input type="text" class="form-control form-control-sm existencia" readonly disabled>
                        </td>
                        <td>{{ formset.empty_form.cantidad }}</td>
                        <td>{{ formset.empty_form.precio }}</td>
                        <td>{{ formset.empty_form.descuento }}</td>
                        <td>{{ formset.empty_form.subtotal }}</td>
                        <td>{{ formset.empty_form.DELETE }}</td>
                           <!-- Campos ocultos -->
                        <td style="display: none;">
                            {{ formset.empty_form.tasa_iva.as_hidden }}
                            {{ formset.empty_form.iva_producto.as_hidden }}
                            {{ formset.empty_form.tasa_ieps.as_hidden }}
                            {{ formset.empty_form.ieps_producto.as_hidden }}
                            {{ formset.empty_form.tasa_retencion_iva.as_hidden }}
                            {{ formset.empty_form.tasa_retencion_isr.as_hidden }}
                            {{ formset.empty_form.retencion_iva.as_hidden }}
                            {{ formset.empty_form.retencion_isr.as_hidden }}
                        </td>
                    </tr>
                </template>
                
            </div>
        </div>

        <div class="mt-3 text-end">
            {% if form.instance.pk %}
                <a href="{% url 'inv:imprimir_remision' form.instance.pk %}" target="_blank" class="btn btn-outline-primary">
                    🖨️ Imprimir Remisión
                </a>
            {% endif %}
            <button type="submit" class="btn btn-success">Guardar Remision</button>
            <a href="{% url 'inv:remision_list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const addBtn = document.getElementById('add-linea');
    const formsetBody = document.getElementById('formset-body');
    const totalFormsInput = document.getElementById('id_detalles-TOTAL_FORMS');
    const totalGeneral = document.getElementById('total-general'); 
    const claveMovimientoInput = document.getElementById('id_clave_movimiento');
    const numero_remisionInput = document.getElementById('id_numero_remision');

    if (claveMovimientoInput) {
        claveMovimientoInput.focus();
    }
    // busca el ultimo numero para esa clave_movimiento
    if (claveMovimientoInput && numero_remisionInput) {
        claveMovimientoInput.addEventListener('change', function () {
            const clave = this.value;
            if (clave) {
                fetch(`/inv/ajax/numero-remision/?clave=${clave}`)
                    .then(response => response.json())
                    .then(data => {
                        numero_remisionInput.value = data.numero_remision;
                    });
            }
        });
    }

    // valida si clave_movimiento + Remision existe
    // Si existe, se muestra en modo edicion
    // Si no existe, continua con el proceso normal de Registro Nuevo
    //  numero_remisionInput = document.getElementById('id_numero_remision');
    const claveMovInput = document.getElementById('id_clave_movimiento');

    async function verificarRemision(claveMovId, numero_remision) {
        const response = await fetch(`/inv/verificar-remision/?clave_movimiento=${claveMovId}&numero_remision=${numero_remision}`);
        const data = await response.json();
        if (data.existe) {
            // alert('Este movimiento ya existe. Se mostrará en modo edición.');
            // Aquí podrías redirigir automáticamente, o cargar los datos con AJAX
            window.location.href = `/inv/remision/editar/${data.id}/`;
        }
    }

    if (numero_remisionInput && claveMovInput) {
        numero_remisionInput.addEventListener('blur', function () {
            let ref = numero_remisionInput.value.trim();
            if (ref) {
                ref = ref.padStart(7, '0');  // llena la referencia con ceros a la izquierda
                numero_remisionInput.value = ref;
                
                const claveMovId = claveMovInput.value;
                if (claveMovId) {
                    verificarRemision(claveMovId, ref);
                }
            }
        });
        numero_remisionInput.addEventListener('keydown', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();  // Previene el envío del formulario

                let ref = numero_remisionInput.value.trim();
                if (ref) {
                    ref = ref.padStart(7, '0');
                    numero_remisionInput.value = ref;

                    const claveMovId = claveMovInput.value;
                    if (claveMovId) {
                        verificarRemision(claveMovId, ref);
                    }

                    // Disparar manualmente el evento blur
                    numero_remisionInput.dispatchEvent(new Event('blur'));
                }
            }
        });
    }
    
    // termina verificar si existe movimiento  

    // CHANGE DE CLIENTE
    const remisionForm = document.querySelector('#remision-form'); // o el selector que uses

    if (remisionForm) {
        remisionForm.addEventListener('change', async function (e) {
            const target = e.target;
            // Ahora atrapamos el select principal de cliente:
            if (target.name === 'cliente') {
                const clienteId = target.value;
                if (/^\d+$/.test(clienteId)) {
                    //  Obtener si cliente tiene retencion_iva, retencion_isr
                    //  Tambien obtiene la tasa_iva_empresa, tasa_ieps_empresa, 
                    //                     tasa_retencion_iva_empresa, tasa_retencion_ieps_empresa

                    const tasaResp = await fetch(`/fac/obtener_tasa_empresa/?cliente_id=${clienteId}`);
                    if (!tasaResp.ok) throw new Error('Error al obtener datos del Cliente y Empresa');
                    const data = await tasaResp.json();
                    // Usar como variables globales 
                    
                    window.tasasEmpresa = {
                        tasa_ivaG: parseFloat(data.tasa_iva_empresa),
                        tasa_iepsG: parseFloat(data.tasa_ieps_empresa),
                        tasa_retencion_ivaG: parseFloat(data.tasa_retencion_iva_empresa),
                        tasa_retencion_isrG: parseFloat(data.tasa_retencion_isr_empresa)
                    };
                } 
                
            }
        })
    }    

    // boton agregar linea
    addBtn.addEventListener('click', function () {
        const totalForms = parseInt(totalFormsInput.value);
        const template = document.querySelector('#empty-form-template');

        if (!template) return;

        const newRow = template.content.cloneNode(true);  // clona el contenido del template

        // Reemplaza "__prefix__" por el nuevo número
        newRow.querySelectorAll('*').forEach(function (el) {
            if (el.name) el.name = el.name.replace(/__prefix__/, totalForms);
            if (el.id) el.id = el.id.replace(/__prefix__/, totalForms);
            if (el.getAttribute('for')) el.setAttribute('for', el.getAttribute('for').replace(/__prefix__/, totalForms));

            // Limpia valores si es input
            if (el.tagName === 'INPUT' || el.tagName === 'SELECT') {
                if (el.type === 'checkbox') {
                    el.checked = false;
                } else {
                    el.value = '';
                }
            }
        });

        formsetBody.appendChild(newRow);

        totalFormsInput.value = totalForms + 1;
        actualizarTotal();
    });
    
    // al generarse el evento CHANGE del campo producto, se asigna el valor
    // del precio1 al campo precio y se calcula la existencia del producto
    const fechaInput = document.querySelector('#id_fecha_remision');
    const almacenInput = document.querySelector('#id_almacen');

    if (formsetBody) {
        formsetBody.addEventListener('change', async function (e) {
            if (e.target && e.target.name.includes('-producto')) {
                const productoInput = e.target;
                const row = productoInput.closest('tr');  
                const productoId = productoInput.value;

                // Toma fecha y almacen del formulario 
                const fechaInput = document.querySelector('#id_fecha_remision');
                const almacenInput = document.querySelector('#id_almacen');

                const fecha = fechaInput ? fechaInput.value : null;
                const almacenId = almacenInput ? almacenInput.value : null;

                if (productoId && fecha && almacenId) {
                    try {
                        // 1. Obtener precio 
                        const precioResp = await fetch(`/inv/obtener_precio_producto/?producto_id=${productoId}`);
                        if (!precioResp.ok) throw new Error('Error al obtener precio');
                        const precioData = await precioResp.json();
                        const precioInput = row.querySelector("input[name$='-precio']");
                        // campos ocultos de tasas
                        const tasa_ivaInput  = row.querySelector("input[name$='-tasa_iva']");
                        const tasa_iepsInput = row.querySelector("input[name$='-tasa_ieps']");
                        const tasa_retencion_ivaInput = row.querySelector("input[name$='-tasa_retencion_iva']");
                        const tasa_retencion_isrInput = row.querySelector("input[name$='-tasa_retencion_isr']");
                        
                        if (precioInput) {
                            precioInput.value = precioData.precio1;
                        }

                        const aplica_iva  = parseFloat(precioData.aplica_iva);   // convierte a numerico 1 o 0
                        const aplica_ieps = parseFloat(precioData.aplica_ieps);  // convierte a numerico 1 o 0
                        
                        console.log("En CHANGE-PRODUCTO -aplica_iva:", aplica_iva)

                        // 2. Obtener existencia del producto
                        const existenciaResp = await fetch(`/inv/api/existencia_producto/?producto=${productoId}&almacen=${almacenId}&fecha=${fecha}`);
                        if (!existenciaResp.ok) throw new Error('Error al obtener existencia');
                        const existenciaData = await existenciaResp.json();

                        // Aquí se selecciona el input con clase 'existencia' en la misma fila para desplegar la existencia en el formulario
                        const existenciaInput = row.querySelector('input.existencia');
                        if (existenciaInput) {
                            existenciaInput.value = existenciaData.existencia;
                        } else {
                            console.log(`Existencia actual: ${existenciaData.existencia}`);
                        }

                        const tasaIva_producto  = (window.tasasEmpresa.tasa_ivaG / 100) * aplica_iva;
                        const tasaIeps_producto = (window.tasasEmpresa.tasa_iepsG / 100) * aplica_ieps;
                        const tasa_retencion_iva = (window.tasasEmpresa.tasa_retencion_ivaG / 100);
                        const tasa_retencion_isr = (window.tasasEmpresa.tasa_retencion_isrG / 100);
                        
                        console.log("EN BB aplica_iva:", aplica_iva);
                        console.log("EN BB window.tasasEmpresa.tasa_ivaG:", window.tasasEmpresa.tasa_ivaG);
                        console.log("EN BB tasaIva_producto:", tasaIva_producto);

                        // pasa los valores a los campos del formulario 
                        if (tasa_ivaInput) {
                            tasa_ivaInput.value = tasaIva_producto.toFixed(6);   // convierte a string
                        } else {
                            console.warn("❌ No se encontró el input hidden de tasa_iva en esta fila.");
                        }
                        if (tasa_iepsInput) {
                            tasa_iepsInput.value = tasaIeps_producto.toFixed(6);
                        }
                        if (tasa_retencion_ivaInput) {
                            tasa_retencion_ivaInput.value = tasa_retencion_iva.toFixed(6);
                        }
                        if (tasa_retencion_isrInput) {
                            tasa_retencion_isrInput.value = tasa_retencion_isr.toFixed(6);
                        }

                        console.log("BB) TASA_IVA desde el campo:", row.querySelector("input[name$='-tasa_iva']").value);

                        actualizarTotal();                                             

                    } catch (err) {
                        console.error('Error al obtener datos del producto:', err);
                    }
                }
            }
        });
    }
    
    // fin de CHANGE producto

    // Recalcular subtotal automáticamente
    document.addEventListener('input', function (e) {
        if (e.target.name.includes('cantidad') || e.target.name.includes('precio') || e.target.name.includes('descuento')) {

            const row = e.target.closest('tr');
            const cantidad = parseFloat(row.querySelector('input[name$="cantidad"]')?.value || 0);
            const precio = parseFloat(row.querySelector('input[name$="precio"]')?.value || 0);
            const descuento = parseFloat(row.querySelector('input[name$="descuento"]')?.value || 0);
            const tasa_iva_producto  = parseFloat(row.querySelector('input[name$="tasa_iva"]')?.value || 0);
            const tasa_ieps_producto = parseFloat(row.querySelector('input[name$="tasa_ieps"]')?.value || 0);
            const tasa_retencion_iva = parseFloat(row.querySelector('input[name$="tasa_retencion_iva"]')?.value || 0);
            const tasa_retencion_isr = parseFloat(row.querySelector('input[name$="tasa_retencion_isr"]')?.value || 0);
            const subtotalField = row.querySelector('input[name$="subtotal"]');

            const subtotal = (cantidad * precio) - descuento;
            
            if (subtotalField) subtotalField.value = subtotal.toFixed(2);

            const iva = subtotal * tasa_iva_producto;
            const ieps = subtotal * tasa_ieps_producto;
            const retencion_iva = iva * tasa_retencion_iva;
            const retencion_isr = subtotal * tasa_retencion_isr;

            // pasar valores al formulario
            console.log("SUBTOTAL:", subtotal);
            console.log("EN A) IVA:",iva);
            console.log("EN A) tasa_iva_producto:",tasa_iva_producto);
            console.log("EN A) tasa_retencion_iva:",tasa_retencion_iva);
            console.log("EN A) tasa_retencion_isr:",tasa_retencion_isr);
            console.log("EN A) retencion_iva:",retencion_iva);
            console.log("EN A) retencion_isr:",retencion_isr);
            
            row.querySelector('input[name$="-iva_producto"]').value    = iva.toFixed(2);
            row.querySelector('input[name$="-ieps_producto"]').value   = ieps.toFixed(2);
            row.querySelector('input[name$="-retencion_iva"]').value   = retencion_iva.toFixed(2);
            row.querySelector('input[name$="-retencion_isr"]').value   = retencion_isr.toFixed(2);

            actualizarTotal(); // ← actualiza el total en cada cambio
        }

        if (e.target.name.includes('DELETE')) {
            actualizarTotal(); // 👈 si marcan eliminar también recalcular
        }
    });

    function actualizarTotal() {
        let total = 0;
        formsetBody.querySelectorAll('tr').forEach(function (row) {
            const subtotalField = row.querySelector('input[name$="subtotal"]');
            const deleteCheckbox = row.querySelector('input[type="checkbox"][name$="DELETE"]');
            
            // Solo sumar si no está marcado para eliminar
            if (subtotalField && (!deleteCheckbox || !deleteCheckbox.checked)) {
                const subtotal = parseFloat(subtotalField.value) || 0;
                total += subtotal;
            }
        });
        if (totalGeneral) {
            totalGeneral.value = total.toFixed(2);  // <-- aquí usa `.value` porque es un input en el html
        }

    }

    actualizarTotal(); // ojo
});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js?ver=1.0"></script>

{% endblock %}

