{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="container mt-5 p-4 rounded " style="background-color: azure">  <!-- bg-light-->
    
        <div class="text-center mt-4">
            <h1>Bienvenido a  <strong>Switchh</strong></h1>
            <!--
            <p>Vigencia de tu Licencia:</p>
            <p>Recomienda Switchh•Sistemas a tus amigos y conocidos y obten un 50% de descuento en tu renovación</p>
            <p>Solo comparte este enlace: switchh.mx</p>
            
            -->
            <p> </p>
            
            <br>
            <h5>{{ mensaje1 }}</h5>
            <h5>{{ mensaje2 }}</h5>
            <h5>{{ mensaje3 }}</h5>
        </div>
    </div>
{% endblock %}
