{% extends "base.html" %}

{% block content %}
<div class="container mt-4" style="max-width: 600px;">
    <div class="card shadow rounded-3">
        <div class="card-header text-center bg-primary text-white">
            <h4>Registro de Empresa Nueva</h4>
        </div>
        <div class="card-body">

            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            {% if messages %}
                <div class="container mt-2">
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="post" novalidate>
                {% csrf_token %}
                <div class="row g-2">
                    <div class="mb-1">
                        <label for="nombre_comercial" class="form-label">Nombre Comercial</label>
                        <input type="text" class="form-control" id="nombre_comercial" name="nombre_comercial" required>
                    </div>
                    <div class="col-md-6 mb-1">
                        <label for="username" class="form-label">
                            Usuario
                            <span class="ms-2 small text-body-secondary">Ej: fran171011, ventas-01, luis2025 </span>
                        </label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="minombre2532" required>
                        {% if form.username.errors %}
                            <div class="text-danger small">{{ form.username.errors|join:", " }}</div>
                        {% else %}
                            <div class="form-text">permitido: letras, números y . + - _, sin espacios</div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 mb-1">
                        <label for="password" class="form-label">Contraseña    (guardar usuario y contraseña)</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <hr>

                    <div class="mb-1">
                        <label for="contacto_nombre" class="form-label">Nombre del Contacto</label>
                        <input type="text" class="form-control" id="contacto_nombre" name="contacto_nombre" required>
                    </div>

                    <div class="mb-1">
                        <label for="contacto_telefono" class="form-label">Teléfono del Contacto</label>
                        <input type="tel" class="form-control" id="contacto_telefono" name="contacto_telefono" required>
                    </div>
                    <div class="mb-1">
                        <label for="contacto_email" class="form-label">Email del Contacto</label>
                        <input type="email" class="form-control" id="contacto_email" name="contacto_email" required>
                    </div>

                    <div class="d-grid mt-3">
                        <button id="btn_crear" type="submit" class="btn btn-warning">Crear Empresa</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const btn = document.getElementById('btn_crear');

        btn.addEventListener('click', function() {

            btn.textContent = "Creando Empresa Nueva... un momento..";
        })
    });
</script>

{% endblock %}
