{% extends "base.html" %}
{% block content %}

<form id="form-remisiones" method="get" class="card p-3 shadow-sm">
    
    <h4 class="card-title mb-3">Remisiones por Cliente</h4>
    
    <div class="row g-2 align-items-end">
        <div class="col-md-4">
            <label class="form-label">Cliente:</label>
            <select id="cliente" name="cliente" class="form-select">
                {% for a in clientes %}
                    <option value="{{ a.id }}" {% if cliente_seleccionado and a.id == cliente_seleccionado.id %}selected{% endif %}>
                        {{ a.nombre }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-3">
            <label class="form-label">Fecha Inicial:</label>
            <input id="fecha_ini" type="date" name="fecha_ini" value="{{ fecha_ini }}" class="form-control">
        </div>
        <div class="col-md-3">
            <label class="form-label">Fecha Final:</label>
            <input id="fecha_fin" type="date" name="fecha_fin" value="{{ fecha_fin }}" class="form-control">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary w-100" type="submit">Buscar</button>
        </div>
    </div>
</form>
<script>
    window.addEventListener('DOMContentLoaded', function() {
        const today = new Date().toLocaleDateString('en-CA');
        const dateFields = document.querySelectorAll('input[type="date"]');

        dateFields.forEach(field => {
            if (!field.value) {
                field.value = today;
            }
        });
    });
</script>

<script>
    document.getElementById('form-remisiones').addEventListener('submit', function(event) {
      event.preventDefault();
  
      const clienteId = document.getElementById('cliente').value;
      const fechaIni = document.getElementById('fecha_ini').value;
      const fechaFin = document.getElementById('fecha_fin').value;
  
      // 🚨 Verifica que clienteId no esté vacío
      if (!clienteId) {
        alert("Debes seleccionar un cliente");
        return;
      }
  
      const url = `/inv/reportes/remisiones_por_cliente/?cliente_id=${clienteId}&fecha_ini=${fechaIni}&fecha_fin=${fechaFin}`;
      window.open(url, '_blank');
    });
</script>

{% endblock %}