{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <!-- dark-->
  <div class="container-fluid">
    <!-- Nombre de la Empresa de context_processors-->
     <a class="navbar-brand" href="#">
      {% if user.is_authenticated %}
          {% if empresa_actual %}
              {{ empresa_actual|truncatechars:30 }}
          {% else %}
              SWITCHH
          {% endif %}
      {% else %}
          SWITCHH
      {% endif %} 
    </a>
    
    <!-- Botón toggle en móvil -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú desplegable -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <!-- Catálogos -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="catalogosDropdown" role="button" data-bs-toggle="dropdown">Catálogos</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'inv:moneda_list' %}">Monedas</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:categoria_list' %}">Categorías</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:unidadmedida_list' %}">Unidad de Medida</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:almacen_list' %}">Almacenes</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:clavemovimiento_list' %}">Claves de Movimiento Inventario</a></li>
            <li><a class="dropdown-item" href="{% url 'cxc:tipocliente_list' %}">Tipos de Cliente</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:vendedor_list' %}">Vendedores</a></li>
            <li><a class="dropdown-item" href="{% url 'cxc:cliente_list' %}">Clientes</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:proveedor_list' %}">Proveedores</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:producto_list' %}">Productos</a></li>
          </ul>
        </li>

        <!-- Movimientos -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="movimientosDropdown" role="button" data-bs-toggle="dropdown">Movimientos</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'inv:movimiento_list' %}">Movimientos Inventario</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:remision_list' %}">Remisiones</a></li>
            <li><a class="dropdown-item" href="#">---------------------------</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:cotizacion_list' %}">Cotizaciones</a></li>
            <!-- 
            <li><a class="dropdown-item" href="#">Traspasos</a></li> -->
          </ul>
        </li>

        <!-- Compras -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="comprasDropdown" role="button" data-bs-toggle="dropdown">Compras</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'inv:compra_list' %}">Registrar Compras</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:buscar_compras_dia' %}">Consulta de Compras por Fecha</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:buscar_compras_producto' %}">Consulta de Compras por Producto</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:buscar_compras_proveedor' %}">Consulta de Compras por Proveedor</a></li>
          </ul>
        </li>
        
        <!-- Consultas -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="consultasDropdown" role="button" data-bs-toggle="dropdown">Consultas</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'inv:buscar_remisiones_dia' %}">Remisiones por Dia</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:buscar_remisiones_cliente' %}">Remisiones por Cliente</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:buscar_remisiones_producto' %}">Remisiones por Producto</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:buscar_movimientos_producto' %}">Movimientos por Producto</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:buscar_movimientos_clave' %}">Movimientos por Clave</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:buscar_existencia_producto' %}">Existencia de un Producto</a></li>
          </ul>
        </li>

        <!-- Generar CFDI's -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="cfdiDropdown" role="button" data-bs-toggle="dropdown">Generar CFDI</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'fac:factura_list' %}">Generar CFDI</a></li>
            <li><a class="dropdown-item" href="#">CFDI por Cliente</a></li>
          </ul>
        </li>

        <!-- Información general -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="informacionDropdown" role="button" data-bs-toggle="dropdown">Información Empresa</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'inv:empresa_list' %}">General</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:empresa_lugarexp_list' %}">Lugar Expedición-Facturas</a></li>
            <li><a class="dropdown-item" href="{% url 'inv:cfdi_registrar_emisor' %}">Registrar Emisor</a></li>
          </ul>
        </li>

      </ul>

      <!-- Usuario y login/logout -->
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="navbar-text me-2">👤 {{ user.username }}</span>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light btn-sm" href="{% url 'core:logout' %}">Cerrar sesión</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="btn btn-outline-light btn-sm" href="{% url 'core:login' %}">Iniciar sesión</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
