<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'core:inicio' %}">Bit•Sistemas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

      <a class="navbar-brand" href="#">MENÚ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
        aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <!-- Catálogos -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="catalogosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Catálogos
            </a>
            <ul class="dropdown-menu" aria-labelledby="catalogosDropdown">
              <li><a class="dropdown-item" href="#">Monedas</a></li>
              <li><a class="dropdown-item" href="#">Categorías</a></li>
              <li><a class="dropdown-item" href="#">Unidad de Medida</a></li>
              <li><a class="dropdown-item" href="#">Almacenes</a></li>
              <li><a class="dropdown-item" href="#">Tipos de Movimiento Inventario</a></li>
              <li><a class="dropdown-item" href="#">Tipos de Cliente</a></li>
              <li><a class="dropdown-item" href="#">Clientes</a></li>
              <li><a class="dropdown-item" href="#">Proveedores</a></li>
              <li><a class="dropdown-item" href="#">Productos</a></li>
            </ul>
          </li>
  
          <!-- Movimientos -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="movimientosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Movimientos
            </a>
            <ul class="dropdown-menu" aria-labelledby="movimientosDropdown">
              <li><a class="dropdown-item" href="#">Movimientos Almacén</a></li>
              <li><a class="dropdown-item" href="#">Remisiones</a></li>
              <li><a class="dropdown-item" href="#">Traspasos</a></li>
            </ul>
          </li>
  
          <!-- Consultas -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="consultasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Consultas
            </a>
            <ul class="dropdown-menu" aria-labelledby="consultasDropdown">
              <li><a class="dropdown-item" href="#">Movimientos de Almacén</a></li>
              <li><a class="dropdown-item" href="#">Productos más Vendidos</a></li>
              <li><a class="dropdown-item" href="#">Compras por Producto</a></li>
              <li><a class="dropdown-item" href="#">Compras por Proveedor</a></li>
              <li><a class="dropdown-item" href="#">Movimientos por Cliente</a></li>
            </ul>
          </li>
  
          <!-- Facturación -->
          <li class="nav-item">
            <a class="nav-link" href="#">Facturación</a>
          </li>
  
          <!-- Cuentas por Cobrar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="cxcDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cuentas por Cobrar
            </a>
            <ul class="dropdown-menu" aria-labelledby="cxcDropdown">
              <li><a class="dropdown-item" href="#">Registrar Cargos</a></li>
              <li><a class="dropdown-item" href="#">Registrar Abonos</a></li>
            </ul>
          </li>
  
          <!-- Reportes -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="reportesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reportes
            </a>
            <ul class="dropdown-menu" aria-labelledby="reportesDropdown">
              <li><a class="dropdown-item" href="#">Ventas</a></li>
              <li><a class="dropdown-item" href="#">Compras</a></li>
              <li><a class="dropdown-item" href="#">Inventario</a></li>
              <li><a class="dropdown-item" href="#">Cuentas por Cobrar</a></li>
              <li><a class="dropdown-item" href="#">Analítico de Almacén</a></li>
              <li><a class="dropdown-item" href="#">Antigüedad de Saldos</a></li
  