{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block content %}
<div class="container mt-4">
    <div data-cliente-es-nuevo="{% if view.object.pk %}false{% else %}true{% endif %}"></div>

    <h2 class="mb-4">{{ view.object.pk|yesno:"Editar Cliente,Nuevo Cliente" }}</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="row g-2">
            <div class="col-md-2 mb-2">
                <label class="form-label small">Código del Cliente</label>
                {{ form.cliente|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Tipo de Cliente</label>
                {{ form.tipo_cliente|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">RFC</label>
                {{ form.rfc|add_bootstrap_class }}
            </div>
            <div class="col-md-6 mb-2">
                <label class="form-label small">Nombre</label>
                {{ form.nombre|add_bootstrap_class }}
            </div>
            <div class="col-md-4 mb-2">
                <label class="form-label small">Calle Fiscal</label>
                {{ form.calle|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Numero Exterior</label>
                {{ form.numero_exterior|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Numero Interior</label>
                {{ form.numero_interior|add_bootstrap_class }}
            </div>
            <div class="col-md-4 mb-2">
                <label class="form-label small">Régimen Fiscal</label>
                {{ form.regimen_fiscal|add_bootstrap_class }}
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Colonia</label>
                {{ form.colonia|add_bootstrap_class }}
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Ciudad</label>
                {{ form.ciudad|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Municipio</label>
                {{ form.municipio|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Estado</label>
                {{ form.estado|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Código Postal</label>
                {{ form.codigo_postal|add_bootstrap_class }}
            </div>
            <div class="col-md-6 mb-2">
                <label class="form-label small">Dirección de Entrega</label>
                {{ form.direccion_entrega|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">C.P. Entrega</label>
                {{ form.codigo_postal_entrega|add_bootstrap_class }}
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Ciudad Entrega</label>
                {{ form.ciudad_entrega|add_bootstrap_class }}
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Teléfono 1</label>
                {{ form.telefono1|add_bootstrap_class }}
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Teléfono 2</label>
                {{ form.telefono2|add_bootstrap_class }}
            </div>
            <div class="col-md-4 mb-2">
                <label class="form-label small">Email</label>
                {{ form.email|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2">
                <label class="form-label small">Plazo Crédito</label>
                {{ form.plazo_credito|add_bootstrap_class }}
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Límite Crédito</label>
                {{ form.limite_credito|add_bootstrap_class }}
            </div>
            <div class="col-md-3 mb-2">
                <label class="form-label small">Cuenta Contable</label>
                {{ form.cuenta_cnt|add_bootstrap_class }}
            </div>
            <div class="col-md-2 mb-2 form-check">
                {{ form.aplica_retencion_iva }}
                <label class="form-check-label small">Retención IVA</label>
            </div>
            <div class="col-md-2 mb-2 form-check">
                {{ form.aplica_retencion_isr }}
                <label class="form-check-label small">Retención ISR</label>
            </div>

            <input type="hidden" name="campo_libre_str" id="moneda" value="{{ form.campo_libre_str.value|default:'' }}">
            <input type="hidden" name="campo_libre_num" id="moneda" value="{{ form.campo_libre_num.value|default:'' }}">
            <div class="col-md-12 mb-2">
                <label class="form-label small">Comentarios</label>
                {{ form.comentarios|add_bootstrap_class }}
            </div>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-success">Guardar Cliente</button>
            <a href="{% url 'cxc:cliente_list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

 <script>
    document.addEventListener('DOMContentLoaded', function () {
        const clienteInput = document.getElementById('id_cliente');
        const esNuevo = document
            .querySelector('div[data-cliente-es-nuevo]')
            .dataset.clienteEsNuevo === 'true';
        
        if (clienteInput) {
            clienteInput.focus();
        }

        clienteInput.addEventListener('blur', function () {
            let val = clienteInput.value.trim();
            if (val) {
                clienteInput.value = val.padStart(6, '0');
            }
        });

        // busca el ultimo numero para esa clave_movimiento
        if (clienteInput && esNuevo) {
        
            // Solo se ejecuta si es un nuevo registro
            fetch('/cxc/ajax/ultimo_cliente/', {
                    credentials: 'include'
                })
                .then(response => response.json())
                .then(data => {
                    clienteInput.value = data.cliente;
                })
                .catch(error => {
                    console.error('Error obteniendo clave de cliente:', error);
                });
        }
    });
</script>

    
{% endblock %}
