{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Tipo de Cliente</h2>
        <a href="{% url 'cxc:tipocliente_create' %}" class="btn btn-primary">Nuevo Tipo de Cliente</a>
    </div>

    {% if tiposcliente %}
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>  </th>
                </tr>
            </thead>
            <tbody>
                {% for tipocliente in tiposcliente %}
                <tr>
                    <td>{{ tipocliente.tipo_cliente }}</td>
                    <td>{{ tipocliente.nombre }}</td>
                    <td>
                        <a href="{% url 'cxc:tipocliente_update' tipocliente.pk %}" class="btn btn-sm btn-warning">Editar</a>
                        <a href="{% url 'cxc:tipocliente_delete' tipocliente.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">No hay Tipos de Cliente registrados.</div>
    {% endif %}
</div>
{% endblock %}
